* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: MS Gothic;
}
.header {
    margin-bottom: 2px;
    color: rgb(209, 121, 7);
    font-size: 1.6rem;
    background-color: aquamarine;
    padding: 0.5rem;
}
.page_not_found {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    font-size: 1.5rem;
    position: relative;
}
.page_not_found .routerlink {
    position: absolute;
    padding-top: 5rem;
}
.container {
    width: 100%;
    max-width: 950px;
    margin: 0.5rem auto;
}
.InvoiceHeaderList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: bisque;
    border-radius: 0.25rem;
}
.btn {
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.btn:hover {
    background: aqua;
}
.btn.addnew {
    margin-left: auto;
}
.btn__invoice {
    display: flex;
    position: relative;
    align-items: center;
}
.btn__invoice--id {
    position: relative;
    width: 2rem;
    height: 2rem;
}
.btn__invoice--id:hover {
    cursor: pointer;
}
.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.popup__invoice--id {
    position: absolute;
    z-index: 2;
    margin-left: 2.2rem;
}
.popup__invoice--id li {
    list-style-type: none;
    padding: 0.3rem;
    border: solid 0.5px;
    background-color: coral;
}
.searchArea {
    background-color: darkkhaki;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    display: flex;
}
.searchField {
    padding: 0.5rem;
    width: 100%;
    margin-right: 0px;
    margin-left: 0.5rem;
}
.listHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: blue;
    font-size: 14px;
    font-weight: 1000;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.2rem;
    margin-top: 1rem;
    justify-items: center;
}
.listItem {
    padding: 10px 30px !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.6rem 0;
    justify-items: center;
}
.listItem {
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* NEW SCREEN */
/* NEW INVOICE */
.new--invoice {
    background-color: rgb(250, 252, 253);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* AREA 1 - INVOICE HEADER */
.invoice--header {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: 60rem;
    height: 9rem;
    border-radius: 0.2rem;
    background-color: bisque;
    justify-content: space-between;
    padding: 1rem 5rem;
    border: 1px solid black;
}
.invoice--header p {
    font-size: 1.25em;
}
.input--header {
    margin-bottom: 1rem;
}

/* AREA2-INVOICE ITEM */
.invoice--item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 60rem;
    height: auto;
    border-radius: 0.2rem;
    background-color: bisque;
    padding: 1rem 5rem;
    border: 1px solid black;
}
.btn__add--item {
    width: 10rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.btn__add--item:hover {
    background-color: rgb(0, 255, 21);
    cursor: pointer;
}
.table--header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
}
.table--header p {
    display: flex;
    justify-content: center;
    border: 1.2px solid black;
    padding: 0.3rem;
    background-color: darkseagreen;
}
.table--header div {
    border: 1.2px solid black;
    margin: 0;
    padding: 0;
}
.message--empty {
    display: flex;
    justify-content: center;
    font-weight: 200;
    background-color: rgb(188, 241, 188);
    color: lightseagreen;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 0.1rem solid;
    border-radius: 0.2rem;
    width: 48rem;
}
.table--item {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
    margin: 0;
    padding: 0;
    text-align: center;
}
.table--item p {
    border: 1px solid black;
    padding: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table--item div {
    border: 0.5px solid black;
    margin: 0;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
}
.table--item div input {
    border: 0.5px solid black;
    width: 7rem;
    height: 1.2rem;
    padding-left: 0.5rem;
}
.btn__delete--item:hover {
    background-color: blue;
    cursor: pointer;
}

/* AREA 3 - INVOICE TOTAL */
.invoice--summary {
    display: flex;
    margin: 1rem;
    width: 60rem;
    height: 15rem;
    border-radius: 0.2rem;
    background-color: bisque;
    padding: 1rem 5rem;
    border: 1px solid black;
}
.terms--area {
    width: 20rem;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.total--area {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total--field {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0.6rem;
}
.total--field p {
    padding: 0.2rem 0.2rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 900;
}
.total--field--summary {
    font-size: 1.75rem !important;
    color: rgb(236, 67, 16);
}
.total--area div span {
    padding: 0.2rem 0.75rem;
    color: crimson;
    font-size: large;
}
.total--area div input {
    padding: 0.4rem 0.4rem;
    width: 10rem;
}
.btn__add--invoice {
    width: 10rem;
    margin-top: 0.6rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
}
.btn__add--invoice:hover {
    background-color: aqua;
    cursor: pointer;
}

/* MODAL ADD PRODUCT */
.modal {
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.showModal {
    display: block !important;
}
.modal--content {
    margin: auto;
    width: 100%;
    max-width: 500px;
    background-color: rgb(240, 240, 102);
    border: 1px solid;
    border-radius: 0.3rem;
}
.modal--header {
    display: flex;
    align-items: center;
    background-color: rgb(163, 163, 216);
    width: 100%;
    padding: 1rem;
}
.btn__close--modal {
    margin-left: auto;
    border: 1px solid;
    padding: 0.5rem;
}
.modal--product--list {
    max-height: 400px;
    overflow-y: auto;
}
.product--item {
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
}
.add--product {
    margin-left: auto;
    border: 1px solid;
    padding: 0.5rem;
}

/* NEW SCREEN */
/* INVOICE DETAIL */
.container__detail {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    background-color: rgba(139, 241, 113, 0.3);
    border-radius: 0.2rem;
}
.header__detail--main {
    border: solid 1px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.header__detail--main div {
    margin: 0.5rem;
}
.header__detail--title {
    font-size: 2rem;
    color: chocolate;
}
.btn__pdf {
    padding: 0.5rem;
}
.customer__detail {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem 4rem;
    border: solid 1px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.customer__detail * {
    font-size: 1.25rem;
}
.customer__numdate--row {
    display: flex;
    justify-content: space-between;
}
.invoice--item__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.invoice--item__table th,
.invoice--item__table td {
    border: 1px solid #666565;
    padding: 8px;
    text-align: center;
}
.invoice--item__table th {
    background-color: #f2f2f2;
    color: #333;
}
.invoice--item__table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.invoice--item__table tbody tr:hover {
    background-color: #ddd;
}
.subtotal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
}
.subtotal > p {
    margin: 1rem 2rem;
}
.subtotal__item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}
.subtotal__item p {
    font-size: 1.5rem;
    color: chocolate;
}
.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
}
.total__term {
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
}
.total__term {
    font-size: 1.2rem;
}
.total__item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}
.total__item p {
    font-size: 1.75rem;
    color: brown;
}

/* NEW SCREEN */
.logo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem;
    color: #04aa6d;
}
/* LOGIN SCREEN */
.login__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login__btn {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
}

/* NEW SCREEN
LOGIN SCREEN */
.register__introduce h1,
.register__introduce p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: cadetblue;
}
.register__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.register__btn {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
}
.cancel {
    background-color: #5b5d5e;
    color: white;
}
